<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://yoonite.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>yoonite.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>yoonite</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$yoonite</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="YooniteEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=yoonite.database.windows.net;Initial Catalog=YooniteProduction;Persist Security Info=True;User ID=y-admin;Password=JQn#8#14gCV^M2@Ii" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Development;Initial Catalog=YooniteDevelopment;Persist Security Info=True;User ID=sa;Password=123456;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\YooniteEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/YooniteDataModel.csdl|res://*/YooniteDataModel.ssdl|res://*/YooniteDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Development;initial catalog=YooniteDevelopment;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="YooniteEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/YooniteDataModel.csdl|res://*/YooniteDataModel.ssdl|res://*/YooniteDataModel.msl;provider=System.Data.SqlClient;provider connection string="data source=yoonite.database.windows.net;initial catalog=YooniteProduction;persist security info=True;user id=y-admin;password=JQn#8#14gCV^M2@Ii;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>