<div class="warning">
    <h1>500</h1>
    <p>Internal server occurred. Please check site later.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary"><i class="fa fa-long-arrow-left"></i> Return Home</a>
</div>