<div class="main-wrapper">
    <div class="main">
        <div class="main-inner">

            <div class="page-title">
                <div class="container">
                    <h1>Donation</h1>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <form id="donate-form">
                            <!-- Donate with Crypto -->
                            <div>
                                <a class="donate-with-crypto"
                                   href="https://commerce.coinbase.com/checkout/451f2ded-cd7c-4138-b8a9-ec2138086a3b">
                                    <span>Donate with Crypto</span>
                                </a>
                                <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
                                </script>
                            </div>

                            <!-- Personal Information -->
                            <div class="box">
                                <div class="box-inner">

                                    <div class="box-title">
                                        <h2>Personal Information</h2>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-sm-4">
                                            <label>First name</label>
                                            <input class="form-control" type="text">
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label>Last name</label>
                                            <input class="form-control" type="text">
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label>E-mail</label>
                                            <input class="form-control" type="text">
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label>City</label>
                                            <input class="form-control" type="text">
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label>State</label>
                                            <input class="form-control" type="text">
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label>Zip Code</label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Payment Information -->
                            <div class="box">
                                <div class="box-inner">
                                    <div class="box-title">
                                        <h2>Payment Information</h2>
                                    </div>

                                    <div class="form-group">
                                        <ul class="credit-cards">
                                            <li><i class="fa fa-cc-stripe"></i></li>
                                            <li><i class="fa fa-cc-discover"></i></li>
                                            <li><i class="fa fa-cc-paypal"></i></li>
                                            <li><i class="fa fa-cc-visa"></i></li>
                                        </ul>

                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-4">
                                            <label>Card Number</label>
                                            <input class="form-control" size="20" type="text" placeholder="XXXX-XXXX-XXXX-XXXX">
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label>Name on card</label>
                                            <input class="form-control" size="28" type="text">
                                        </div>
                                        <div class="form-group col-sm-2">
                                            <label>Expiration date</label>
                                            <input class="form-control" size="3" type="text">
                                        </div>
                                        <div class="form-group col-sm-2">
                                            <label>CVV</label>
                                            <input class="form-control" size="3" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="next-prev">
                            <div class="next">
                                <a href="#" class="btn btn-outline-primary">Donate</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>