<div class="admin-sidebar">
 
    <div class="admin-sidebar-header">
        <div class="admin-sidebar-logo">
            <a href="admin-dashboard.html">
                <img src="~/Content/img/logo.svg" class="svg" alt="Home">
            </a>
            <a href="admin-dashboard.html" class="admin-sidebar-logo-title">
                <strong>Yoonite</strong>
                <span>Admin Panel</span>
            </a>
        </div>
    </div>

    <div class="admin-sidebar-content">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="@Url.Action("Index", "Admin")" class="nav-link active">
                    <i class="fa fa-tachometer"></i><span>Dashboard</span>
                </a>
            </li>
        </ul>
        <h3>Management Tools</h3>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="@Url.Action("Accounts", "Admin")" class="nav-link ">
                    <i class="fa fa-users"></i><span>Accounts</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Projects", "Admin")" class="nav-link ">
                    <i class="fa fa-product-hunt"></i><span>Projects</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="@Url.Action("Skills", "Admin")" class="nav-link ">
                    <i class="fa fa-tasks"></i><span>Skills</span>
                </a>
            </li>
        </ul>
    </div>

</div>