<div class="footer-wrapper">
    <div class="footer">
        <div class="footer-inner">
            <div class="container">
                <div class="row mt-3">
                    <div class="col-lg-3">
                        <div class="widget">
                            <h3>
                                <img src="~/Content/img/logo.svg" class="svg" alt="Home">
                                Yoonite
                                <span class="text-secondary">&copy; uniek software @DateTime.Today.Year</span>
                            </h3>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="widget mt-2">
                            <a href="https://unsplash.com/goian" target="_blank" class="text-secondary">Photo by Ian Schneider on Unsplash</a>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="widget mt-2">
                            <a href="@Url.Action("PrivacyPolicy", "Legal")" target="_blank" class="text-secondary">Privacy Policy</a>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="widget mt-2">
                            <a href="@Url.Action("TermsConditions", "Legal")" target="_blank" class="text-secondary">Terms and conditions</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>