<div class="cta-small">
    <div class="container">
        <span>Don't forget to donate if you like using this platform </span>
        <a class="btn btn-outline-light ml-sm-5" target="_blank" href="https://commerce.coinbase.com/checkout/451f2ded-cd7c-4138-b8a9-ec2138086a3b">
            <span>Donate Here!</span>
        </a>
    </div>
</div>

<script src="https://commerce.coinbase.com/v1/checkout.js?version=201807"></script>