@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="admin-page-title">
    <div class="container-fluid">
        <h1>Dashboard</h1>
    </div>
</div>

@*<div class="admin-content">
        <div class="container-fluid">
            <div class="stats">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="stat-box stat-box-red">
                            <div class="stat-box-icon"><i class="fa fa-user-circle"></i></div>
                            <strong>3</strong>
                            <span>Number of Users</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@